body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

@font-face {
 font-family: "PT Sans";
 src: url("../fonts/ptsans.woff2") format("woff2"),
        url("../fonts/ptsans.woff") format("woff");
}

@font-face {
 font-family: "PT Sans";
 src: url("../fonts/ptsansbold.woff2") format("woff2"),
        url("../fonts/ptsansbold.woff") format("woff");
}

a {
  text-decoration: none;
}

.main-nav {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;

  background-color: #ffffff;
}

.nav-list {
  list-style: none;
}

.main-nav a {
  color: #000000;
}

.main-nav a:hover {
  color: #81b3d2;
}

.main-nav a:active {
  color: #000000;
  opacity: 0.3;
}

.nav-item-current a {
  color: #666666;
}

.intro {
  font-size: 14px;
  font-height: 26px;
  font-weight: 400;
  color: #333333;

  background-color: #ffffff;
}

.intro-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.real-town {
  font-size: 14px;
  font-height: 21px;
  font-weight: 400;
  color: #ffffff;

  background-color: #81b3d2;
}

.real-town h2 {
  font-size: 21px;
  font-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.more {
  font-size: 14px;
  font-height: 21px;
  font-weight: 400;
  color: #333333;

  background-color: #ffffff;
}

.more h3 {
  font-size: 21px;
  font-height: 21px;
  font-weight: 700;
  color: #000000;
}

.features-list {
  list-style: none;
}

.devil-bridge {
  font-size: 14px;
  font-height: 21px;
  font-weight: 400;
  color: #ffffff;

  background-color: #81b3d2;
}

.devil-bridge h2 {
  font-size: 21px;
  font-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.other {
  font-size: 14px;
  font-height: 21px;
  font-weight: 400;
  color: #333333;

  background-color: #eeeeee;
}

.other-list {
  list-style: none;
}

.other h2 {
  font-size: 21px;
  font-height: 21px;
  font-weight: 700;
  color: #000000;
}

.find-hotel {
  font-size: 14px;
  font-height: 24px;
  font-weight: 400;
  color: #333333;

  background-color: #ffffff;
}

.find-hotel b {
  font-size: 30px;
  font-height: 36px;
  font-weight: 700;
  color: #000000;
}

.popup-button a {
  padding: 35px 140px 33px 140px;

  font-size: 21px;
  font-height: 26px;
  font-weight: 700;
  color: #ffffff;

  background-color: #766357;
}

.popup-button a:hover {
  color: #ffffff;

  background-color: #604e43;
}

.popup-button a:active {
  color: #ffffff;
  opacity: 0.3;

  background-color: #503e33;
  opacity: 1;
}

.find-hotel-popup {
  font-size: 14px;
  font-height: 26px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
}

.find-hotel-popup input {
  padding: 14px 15px;
  background-color: #f2f2f2;
  border: 0;
}

.find-hotel-popup input:hover {
  background-color: #ebebeb;
}

.find-hotel-popup input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.find-hotel-button {
  padding: 17px 197px 22px 195px;

  font-size: 21px;
  font-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #81b3d2;
  border: 0;
}

.find-hotel-button:hover {
  color: #ffffff;

  background-color: #669ec0;
}

.find-hotel-button:active {
  color: #ffffff;
  opacity: 0.3;

  background-color: #5496bd;
}

.hotel-search {
  font-size: 14px;
  font-height: 21px;
  font-weight: 400;
  color: #ffffff;

  background-color: #81b3d2;
  background-image: url("img/hotels-background.jpg");
  background-repeat: no-repeat;
}

.infrastructure p {
  font-size: 16px;
  font-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.infrastructure-list {
  list-style: none;
}

.apartments p {
  font-size: 16px;
  font-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.apartments-list {
  list-style: none;
}

.amount p {
  font-size: 16px;
  font-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.show-hotels {
  font-size: 14px;
  font-height: 21px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;

  border: 2px solid #ffffff;
}

.show-hotels:hover {
  font-size: 16px;
  font-height: 21px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  border: 0;
  background-color: #ffffff;
}

.result {
  font-size: 12px;
  font-height: 18px;
  font-weight: 400;
  color: #000000;

  background-color: #fefefe;
}

.result-find p {
  font-size: 21px;
  font-height: 26px;
  font-weight: 700;
  color: #000000;
}

.result-list {
  list-style: none;
}

.result-item a {
  font-size: 12px;
  font-height: 18px;
  font-weight: 400;
  color: #000000;
  opacity: 0.3;
  text-decoration: dotted underline;
}

.result-item a:hover {
  font-size: 12px;
  font-height: 18px;
  font-weight: 400;
  color: #99cccc;
  text-decoration: dotted underline;
}

.result-item a:active {
  font-size: 12px;
  font-height: 18px;
  font-weight: 400;
  color: #000000;
  opacity: 1;
  text-decoration: none;
}

.result-item-current a {
    color: #99cccc;
    opacity: 1;
    text-decoration: none;
}

.sort-buttons-list {
  list-style: none;
}

.catalog-list {
  list-style: none;
}

.catalog-item {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-align: left;

  background-color: #ffffff;
}

.hotel-name a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.hotel-name a:hover {
  color: #99cccc;
}

.hotel-name a:active {
  color: #000000;
  opacity: 0.3;
}

.more-info a {
  width: 110px;
  height: 27px;
  padding: 8px 17px 7px 17px;

  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;

  background-color: #81b3d2;
}

.more-info a:hover {
  background-color: #669ec0;
}

.more-info a:active {
  opacity: 0.3;
  background-color: #5496bd;
}

.book a {
  width: 142px;
  height: 27px;
  padding: 8px 17px 9px 16px;

  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;

  background-color: #766357;
}

.book a:hover {
  background-color: #604e43;
}

.book a:active {
  opacity: 0.3;
  background-color: #503e33;
}

.rating p {
  width: 110px;
  height: 27px;
  padding: 5px 13px 7px 16px;

  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #666666;

  background-color: #f2f2f2;
}





.hashtag a {
  color: #000000;
}

.social-list {
  list-style: none;
}

.social-button {
  background-color: #81b3d2;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.copyright a {
  color: #000000;
}
