@font-face {
 font-family: "PT Sans";
 font-style: normal;
 font-weight: normal;
 src: url("../fonts/ptsans.woff2") format("woff2"),
        url("../fonts/ptsans.woff") format("woff");
}

@font-face {
 font-family: "PT Sans";
 font-style: normal;
 font-weight: bold;
 src: url("../fonts/ptsansbold.woff2") format("woff2"),
        url("../fonts/ptsansbold.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.body-container {
  width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  …
}
/*-----------------------------header--------------------------*/

.main-header {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;

  background-color: #ffffff;
}

.nav-list {
  list-style: none;
}

.main-nav a {
  color: #000000;
}

.main-nav a:hover {
  color: #81b3d2;
}

.main-nav a:active {
  color: rgba(0, 0, 0, 0.3);
}

.nav-item-current a {
  color: #666666;
}

/*-----------------------главная страница---------------------*/

.welcome {
  margin: 0;
  padding: 0;
}

.intro {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;

  background-color: #ffffff;
}

.intro-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  vertical-align: bottom;
  color: #000000;
}

.real-town {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;

  background-color: #81b3d2;
}

.real-town h2 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.more {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;

  background-color: #ffffff;
}

.more h3 {
  font-size: 21px;
  line-height: -height: 21px;
  font-weight: 700;
  color: #000000;
}

.features-list {
  list-style: none;
}

.devil-bridge {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;

  background-color: #81b3d2;
}

.devil-bridge h2 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.other {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;

  background-color: #eeeeee;
}

.other-list {
  list-style: none;
}

.other h2 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
}

.find-hotel {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;

  background-color: #ffffff;
}

.find-hotel b {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.popup-button a {
  padding: 35px 140px 33px 140px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;

  background-color: #766357;
}

.popup-button a:hover {
  background-color: #604e43;
}

.popup-button a:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.find-hotel-popup {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
}

.find-hotel-popup input {
  padding: 14px 15px;
  background-color: #f2f2f2;
  border: 0;
}

.find-hotel-popup input:hover {
  background-color: #ebebeb;
}

.find-hotel-popup input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.find-hotel-button {
  padding: 17px 197px 22px 195px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #81b3d2;
  border: 0;
}

.find-hotel-button:hover {
  color: #ffffff;

  background-color: #669ec0;
}

.find-hotel-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

/*---------------------------hotels------------------------------*/

.hotel-search {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;

  background-color: #81b3d2;
  background-image: url("../img/hotels.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.infrastructure p {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.infrastructure-list {
  list-style: none;
}

.apartments p {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.apartments-list {
  list-style: none;
}

.amount p {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.show-hotels {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 1px;
}

.show-hotels:hover {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  border: 0;
  background-color: #ffffff;
}

.result {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;

  background-color: #fefefe;
}

.result-find p {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.result-list {
  list-style: none;
}

.result-item a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: dotted underline;
}

.result-item a:hover {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #99cccc;
  text-decoration: dotted underline;
}

.result-item a:active {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
}

.result-item-current a {
    color: #99cccc;
    text-decoration: none;
}

.sort-buttons-list {
  list-style: none;
}

.catalog-list {
  list-style: none;
}

.catalog-item {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-align: left;

  background-color: #ffffff;
}

.hotel-name a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.hotel-name a:hover {
  color: #99cccc;
}

.hotel-name a:active {
  color: rgba(0, 0, 0, 0.3);
}

.more-info a {
  width: 110px;
  height: 27px;
  padding: 8px 17px 7px 17px;

  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;

  background-color: #81b3d2;
}

.more-info a:hover {
  background-color: #669ec0;
}

.more-info a:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.book a {
  width: 142px;
  height: 27px;
  padding: 8px 17px 9px 16px;

  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;

  background-color: #766357;
}

.book a:hover {
  background-color: #604e43;
}

.book a:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.rating p {
  width: 110px;
  height: 27px;
  padding: 5px 13px 7px 16px;

  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #666666;

  background-color: #f2f2f2;
}



/*--------------------------footer------------------------------*/
.main-footer {
  height: 120px;
  background-color: rgba(254, 254, 254, 0.9);
}

.hashtag a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.social-list {
  list-style: none;
}

.social-button {
  background-color: #81b3d2;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.copyright a {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
}

/*--------------------строим сетку----------------------------------*/



.header-container {
  position: relative;
  width: 1054px;
  margin: auto;
}

.main-nav .nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  min-height: 56px;
  align-items: center;
}

.main-nav li {
  flex-basis: 240px;
  /*временно для сетки: */
  background-color: rgba(255, 0, 0, 0.3);
}

.main-nav li:nth-child(2) {
  margin-right: auto;
}

.logo {
  position: absolute;
  top: 0;
  left: 459px;
}

.welcome {
  line-height: 0;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 216px;
}

.intro-title {
  width: 450px;
  flex-grow: 1;
}

.intro-text {
  flex-grow: 1;
}

.real-town {
  display: flex;
  min-height: 256px;
}

.real-town .features-text {
  width: 400px;
}

.real-town .features-img {
  width: 800px;
}

.features-img {
  line-height: 0;
}

.more .features-list {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 330px;
}

.more li {
  flex-basis: 400px;
}

.devil-bridge {
  display: flex;
  min-height: 256px;
}

.devil-bridge .features-text {
  width: 400px;
}

.devil-bridge .features-img {
  width: 800px;
}

.other .other-list {
  margin: 0;
  padding: 0;
  display: flex;

  min-height: 256px;
}

.other li {
  flex-basis: 400px;
}

.find-hotel {
  min-height: 291px;
  padding-top: 55px;
}

.find-hotel p:first-child {
  margin-bottom: 30px;
}

.find-hotel p:nth-child(2) {
  margin-bottom: 49px;
}

.find-hotel .popup-button {
  position: relative;
  top: 35px;
  margin-top: 49px;
}

/*--------------------------hotels------------------------------*/


.hotel-search-container {
  width: 1056px;
  margin: auto;
  /*временно для сетки: */
  background-color: rgba(28, 194, 30, 0.3);
}

.search-form {
  display: flex;
}

.amount {
  margin-left: auto;
}

.result-catalog {
  width: 100%;
  background-color: #fefefe;
}

.result {
  display: flex;
}

.result-container {
  width: 1056px;
  margin: auto;
  /*временно для сетки: */
  background-color: rgba(28, 194, 30, 0.3);
}

.result-catalog .catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.result-catalog li {
  border-top: 1px solid #e5e5e5;
}

.result-catalog li:last-child {
   border-bottom: 1px solid #e5e5e5;
}

.hotel-container {
  width: 1056px;
  margin: auto;
  /*временно для сетки: */
  background-color: rgba(28, 194, 30, 0.3);
}

.catalog-item {
  display: flex;
}

.hotel {
  display: flex;
}

.hotel .hotel-column:last-child {
  margin-left: auto;
}

.hotel .hotel-photo {
  order: -1;
}


/*--------------------------footer------------------------------*/

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1056px;
  margin: auto;
  /*временно для сетки: */
  background-color: rgba(28, 194, 30, 0.3);
}

.footer-container div {
  flex-basis: 240px;
  /*временно для сетки: */
  background-color: rgba(255, 0, 0, 0.3);
}

.footer-container div:nth-child(2) {
  flex-basis: 400px;
}
