@font-face {
 font-family: "PT Sans";
 font-style: normal;
 font-weight: normal;
 src: url("../fonts/ptsans.woff2") format("woff2"),
        url("../fonts/ptsans.woff") format("woff");
}

@font-face {
 font-family: "PT Sans";
 font-style: normal;
 font-weight: bold;
 src: url("../fonts/ptsansbold.woff2") format("woff2"),
        url("../fonts/ptsansbold.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.body-container {
  width: 1200px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
/*-----------------------------header--------------------------*/

.main-header {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;

  background-color: #ffffff;
}

.nav-list {
  list-style: none;
}

.main-nav a {
  color: #000000;
}

.main-nav a:hover {
  color: #81b3d2;
}

.main-nav a:active {
  color: rgba(0, 0, 0, 0.3);
}

.nav-item-current a {
  color: #666666;
}

/*-----------------------главная страница---------------------*/

.welcome {
  margin: 0;
  padding: 0;
}

.intro {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;

  background-color: #ffffff;
}

.intro-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  vertical-align: bottom;
  color: #000000;
}

.real-town {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;

  background-color: #81b3d2;
}

.real-town h2 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.more {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;

  background-color: #ffffff;
}

.more h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
}

.features-list {
  list-style: none;
}

.devil-bridge {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;

  background-color: #81b3d2;
}

.devil-bridge h2 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.other {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;

  background-color: #eeeeee;
}

.other-list {
  list-style: none;
}

.other h2 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
}

.find-hotel {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;

  background-color: #ffffff;
}

.find-hotel b {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.popup-button a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;

  background-color: #766357;
}

.popup-button a:hover {
  background-color: #604e43;
}

.popup-button a:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.find-hotel-form {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
}

.find-hotel-form input {
  background-color: #f2f2f2;
  border: 0;
}

.find-hotel-form input:hover {
  background-color: #ebebeb;
}

.find-hotel-form input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.find-hotel-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #81b3d2;
  border: 0;
}

.find-hotel-button:hover {
  color: #ffffff;
  background-color: #669ec0;
}

.find-hotel-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

/*---------------------------hotels------------------------------*/

.hotel-search {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;

  background-color: #81b3d2;
  background-image: url("../img/hotels.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.infrastructure p {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.infrastructure-list {
  list-style: none;
}

.apartments p {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.apartments-list {
  list-style: none;
}

.result {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;

  background-color: #fefefe;
}

.result-find p {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.result-list {
  list-style: none;
}

.result-item a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.result-item a:hover {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #99cccc;
  border-bottom: 1px dotted #81b3d2;
}

.result-item a:active {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  border-bottom: 0;
}

.result-item-current a {
    color: #99cccc;
    border-bottom: 0;
}

.sort-buttons-list {
  list-style: none;
}

.catalog-list {
  list-style: none;
}

.catalog-item {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-align: left;

  background-color: #ffffff;
}

.hotel-name a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.hotel-name a:hover {
  color: #99cccc;
}

.hotel-name a:active {
  color: rgba(0, 0, 0, 0.3);
}

.more-info a {
  padding: 4px 17px;

  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;

  background-color: #81b3d2;
}

.more-info a:hover {
  background-color: #669ec0;
}

.more-info a:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.book a {
  padding: 4px 17px;

  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;

  background-color: #766357;
}

.book a:hover {
  background-color: #604e43;
}

.book a:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.rating {
  margin-right: 1px;
  padding: 3px 13px 3px 16px;

  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #666666;

  background-color: #f2f2f2;
}

.rating p {
  display: inline-block;
  margin: 0;
  padding: 0;
}



/*--------------------------footer------------------------------*/
.main-footer {
  background-color: rgba(254, 254, 254, 0.9);
}

.hashtag a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.social-list {
  list-style: none;
}

.social-button {
  background-color: #81b3d2;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.copyright a {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
}

/*--------------------строим сетку----------------------------------*/



.main-nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav li {
  -ms-flex-preferred-size: 240px;
      flex-basis: 240px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 14px;
  padding-bottom: 16px;
}

.main-nav li:first-child {
  padding-left: 72px;
  text-align: left;
}

.main-nav li:last-child {
  padding-right: 72px;
  text-align: right;
}

.main-nav li:nth-child(2) {
  margin-right: 240px;
}

.logo {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.welcome {
  line-height: 0;
}

.intro {
  padding-top: 59px;
  padding-bottom: 52px;
}

.intro h2 {
  width: 450px;
  margin: auto;
  margin-bottom: 28px;
}

.intro p {
  margin: auto;
}

.real-town {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.real-town .features-text {
  width: 400px;
  padding-top: 47px;
  padding-bottom: 58px;
}

.real-town .features-img {
  width: 800px;

  background-image: url("../img/sedona-buildings-800-401.jpg");
  background-repeat: no-repeat;
  background-position: 0 center;
}

.real-town h2 {
  width: 124px;
  margin: auto;
  margin-bottom: 23px;
}

.real-town span {
  display: inline-block;
  margin-bottom: 23px;
}

.real-town p {
  width: 282px;
  margin: auto;
}

.more .features-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.more li {
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  padding-bottom: 83px;
}

.more h3 {
  margin: auto;
  margin-bottom: 23px;
}

.more p {
  width: 287px;
  margin: auto;
}

.more li:first-child {
  padding-top: 60px;
}

.more li:nth-child(2) {
  padding-top: 61px;
}

.more li:last-child {
  padding-top: 56px;
}

.more li:first-child::before {
  content: "";
  display: block;
  width: 75px;
  height: 72px;
  margin: 0 auto;
  background: url("../img/icon-home.svg") no-repeat;
  margin-bottom: 29px;
}

.more li:nth-child(2)::before {
  content: "";
  display: block;
  width: 74px;
  height: 70px;
  margin: 0 auto;
  background: url("../img/icon-burger.svg") no-repeat;
  margin-bottom: 30px;
}

.more li:last-child::before {
  content: "";
  display: block;
  width: 64px;
  height: 76px;
  margin: 0 auto;
  background: url("../img/icon-gift.svg") no-repeat;
  margin-bottom: 29px;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}


.devil-bridge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.devil-bridge .features-text {
  width: 400px;
  padding-top: 47px;
  padding-bottom: 58px;
}

.devil-bridge .features-img {
  width: 800px;

  background-image: url("../img/devils-bridge-800-400.jpg");
  background-repeat: no-repeat;
  background-position: 0 center;
}

.devil-bridge h2 {
  margin: auto;
  margin-bottom: 23px;
}

.devil-bridge span {
  display: inline-block;
  margin-bottom: 23px;
}

.devil-bridge p {
  width: 304px;
  margin: auto;
}

.other .other-list {
  margin: 0;
  padding: 0;
  padding-top: 47px;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.other li {
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
}

.other-item h2 {
  width: 120px;
  margin: auto;
  margin-bottom: 23px;
}

.other-item span {
  display: inline-block;
  margin-bottom: 21px;
}

.other-item p {
  width: 267px;
  margin: auto;
}

.find-hotel {
  padding-top: 50px;
  padding-bottom: 0;
}

.find-hotel-title {
  margin: auto;
  margin-bottom: 24px;
}

.find-hotel-text {
  margin: auto;
  margin-bottom: 47px;
}

.find-hotel .popup-button a {
  display: inline-block;
  padding: 30px 140px 30px 140px;
}


.map {
  position: relative;
  width: 100%;
  height: 593px;

  background-color: #cbdda9;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position: -250px -150px;
}

.find-hotel-form {
  position: absolute;
  padding: 55px 0;
  width: 568px;
  top: 0;
  left: 316px;
  -webkit-box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.15);

}

.find-hotel-wrapper {
  width: 458px;
  margin: 0 auto;

  text-align: left;
}

.find-hotel-form p {
  margin: 0;
  padding: 0;
}

.find-hotel-form .check-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 29px;
  position: relative;
}

.btn-calendar {
  width: 38px;
  height: 38px;
  border: none;
  border-radius: 0;
  position: absolute;
  right: 0;
  background-color: transparent;
}

.btn-calendar::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  width: 21px;
  height: 22px;
  background: url("../img/calendar.svg") no-repeat;
}

.btn-calendar:hover::before {
  background: url("../img/calendar-hover.svg") no-repeat;
}

.btn-calendar:active::before {
  background: url("../img/calendar-active.svg") no-repeat;
}

.check-in label {
  -ms-flex-item-align: center;
      align-self: center;
      margin-right: 21px;
}

.check-in input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 346px;
  height: 38px;
  padding: 6px 41px 6px 13px;
  font-size: 14px;
  line-height: 26px;
}

.find-hotel-form .check-out {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
  position: relative;
}

.check-out label {
  -ms-flex-item-align: center;
      align-self: center;
      margin-right: 17px;
}

.check-out input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 346px;
  height: 38px;
  padding: 6px 41px 6px 13px;
  font-size: 14px;
  line-height: 26px;
}

.find-hotel-form .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 54px;
}

.find-hotel-form .adults {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 226px;
}

.adults .btn {
  width: 38px;
  height: 38px;
  border: none;
  border-radius: 0;
  background-color: transparent;
  position: absolute;
}

.adults .btn::before , .adults .btn::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 13px;
  width: 11px;
  height: 3px;
  background-color: #a9a9a9;
}

.adults .btn-plus::after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.adults .btn:hover::before , .adults .btn:hover::after {
  background-color: #000000;
}

.adults .btn:active::before , .adults .btn:active::after {
  background-color: #81b3d2;
}

.adults .btn-minus {
  right: 76px;
}

.adults .btn-plus {
  right: 0;
}

.adults label {
  -ms-flex-item-align: center;
      align-self: center;
      margin-right: 40px;
}

.adults input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 114px;
  height: 38px;
  padding: 6px 41px 6px 54px;
  font-size: 14px;
  line-height: 26px;
}

.find-hotel-form .children {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 179px;
  position: relative;
}

.children .btn {
  width: 38px;
  height: 38px;
  border: none;
  border-radius: 0;
  background-color: transparent;
  position: absolute;
}

.children .btn::before , .children .btn::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 13px;
  width: 11px;
  height: 3px;
  background-color: #a9a9a9;
}

.children .btn-plus::after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.children .btn:hover::before , .children .btn:hover::after {
  background-color: #000000;
}

.children .btn:active::before , .children .btn:active::after {
  background-color: #81b3d2;
}

.children .btn-minus {
  right: 76px;
}

.children .btn-plus {
  right: 0;
}

.children label {
  -ms-flex-item-align: center;
      align-self: center;
      margin-right: 27px;
}

.children input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 114px;
  height: 38px;
  padding: 6px 41px 6px 54px;
  font-size: 14px;
  line-height: 26px;
}

.find-hotel-button {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
}

/*--------------------------hotels------------------------------*/

.hotels-main {
  text-align: left;
}

.hotel-search-container {
  width: 1056px;
  margin: auto;
  padding-top: 11px;
  padding-bottom: 31px;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.infrastructure {
  margin-right: 119px;
}

.infrastructure .title {
  margin-bottom: 25px;
}

.infrastructure ul {
  margin: 0;
  padding: 0;
}

.infrastructure-item .pool {
  display: inline-block;
  position: relative;

  margin-bottom: 25px;
  padding-left: 40px;

  cursor: pointer;
}

.pool input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  left: 0;

  width: 26px;
  height: 23px;

  background-color: red;
  background: url("../img/checkbox-off.svg") no-repeat;
}

.pool input[type="checkbox"]:checked + .checkbox-indicator {
  background: url("../img/checkbox-on.svg") no-repeat;
}

.pool input[type="checkbox"]:disabled + .checkbox-indicator {
  background: url("../img/checkbox-off-disabled.svg") no-repeat;
}

.pool input[type="checkbox"]:disabled:checked + .checkbox-indicator {
  background: url("../img/checkbox-on-disabled.svg") no-repeat;
}

.pool input[type="checkbox"]:focus + .checkbox-indicator {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.infrastructure-item .parking {
  display: inline-block;
  position: relative;

  margin-bottom: 25px;
  padding-left: 40px;

  cursor: pointer;
}

.parking input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  left: 0;

  width: 26px;
  height: 23px;

  background-color: red;
  background: url("../img/checkbox-off.svg") no-repeat;
}

.parking input[type="checkbox"]:checked + .checkbox-indicator {
  background: url("../img/checkbox-on.svg") no-repeat;
}

.parking input[type="checkbox"]:disabled + .checkbox-indicator {
  background: url("../img/checkbox-off-disabled.svg") no-repeat;
}

.parking input[type="checkbox"]:disabled:checked + .checkbox-indicator {
  background: url("../img/checkbox-on-disabled.svg") no-repeat;
}

.parking input[type="checkbox"]:focus + .checkbox-indicator {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.infrastructure-item .wi-fi {
  display: inline-block;
  position: relative;

  padding-left: 40px;

  cursor: pointer;
}

.wi-fi input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  left: 0;

  width: 26px;
  height: 23px;

  background-color: red;
  background: url("../img/checkbox-off.svg") no-repeat;
}

.wi-fi input[type="checkbox"]:checked + .checkbox-indicator {
  background: url("../img/checkbox-on.svg") no-repeat;
}

.wi-fi input[type="checkbox"]:disabled + .checkbox-indicator {
  background: url("../img/checkbox-off-disabled.svg") no-repeat;
}

.wi-fi input[type="checkbox"]:disabled:checked + .checkbox-indicator {
  background: url("../img/checkbox-on-disabled.svg") no-repeat;
}

.wi-fi input[type="checkbox"]:focus + .checkbox-indicator {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.apartments .title {
  margin-bottom: 25px;
}

.apartments ul {
  margin: 0;
  padding: 0;
}

.apartments .item-hotel {
  display: inline-block;
  position: relative;

  margin-bottom: 25px;
  padding-left: 40px;

  cursor: pointer;
}

.item-hotel input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  left: 0;

  width: 26px;
  height: 23px;

  background-color: red;
  background: url("../img/checkbox-off.svg") no-repeat;
}

.item-hotel input[type="checkbox"]:checked + .checkbox-indicator {
  background: url("../img/checkbox-on.svg") no-repeat;
}

.item-hotel input[type="checkbox"]:disabled + .checkbox-indicator {
  background: url("../img/checkbox-off-disabled.svg") no-repeat;
}

.item-hotel input[type="checkbox"]:disabled:checked + .checkbox-indicator {
  background: url("../img/checkbox-on-disabled.svg") no-repeat;
}

.item-hotel input[type="checkbox"]:focus + .checkbox-indicator {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.apartments .item-motel {
  display: inline-block;
  position: relative;

  margin-bottom: 25px;
  padding-left: 40px;

  cursor: pointer;
}

.item-motel input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  left: 0;

  width: 26px;
  height: 23px;

  background-color: red;
  background: url("../img/checkbox-off.svg") no-repeat;
}

.item-motel input[type="checkbox"]:checked + .checkbox-indicator {
  background: url("../img/checkbox-on.svg") no-repeat;
}

.item-motel input[type="checkbox"]:disabled + .checkbox-indicator {
  background: url("../img/checkbox-off-disabled.svg") no-repeat;
}

.item-motel input[type="checkbox"]:disabled:checked + .checkbox-indicator {
  background: url("../img/checkbox-on-disabled.svg") no-repeat;
}

.item-motel input[type="checkbox"]:focus + .checkbox-indicator {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.apartments .item-apartments {
  display: inline-block;
  position: relative;

  padding-left: 40px;

  cursor: pointer;
}

.item-apartments input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  left: 0;

  width: 26px;
  height: 23px;

  background-color: red;
  background: url("../img/checkbox-off.svg") no-repeat;
}

.item-apartments input[type="checkbox"]:checked + .checkbox-indicator {
  background: url("../img/checkbox-on.svg") no-repeat;
}

.item-apartments input[type="checkbox"]:disabled + .checkbox-indicator {
  background: url("../img/checkbox-off-disabled.svg") no-repeat;
}

.item-apartments input[type="checkbox"]:disabled:checked + .checkbox-indicator {
  background: url("../img/checkbox-on-disabled.svg") no-repeat;
}

.item-apartments input[type="checkbox"]:focus + .checkbox-indicator {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}



.filter-range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 318px;
  margin-left: auto;
  padding-top: 15px;
}

.filter-range-title {
  margin-bottom: 11px;

  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 32px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 30px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls .max-price {
  width: 100px;
  padding-left: 57px;
}

.price-controls input {
  width: 50px;
  height: 30px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 34px 6px 34px;

  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.result-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1056px;
  margin: auto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.result-find {
  min-width: 135px;
  padding: 30px 0;
  margin-right: 29px;
  text-align: left;
}

.result-find p {
  margin: 0;
  padding: 0;
}

.result-sort {
  min-width: 75px;
  margin: 0;
  margin-right: 40px;
  padding: 36px 0 32px 0;
}

.result-sort p {
  margin: 0;
  padding: 0;
}

.result-list {
  padding: 36px 0 32px 0;
}

.result-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.result-list li {
  min-width: 81px;
}

.sort-buttons-container {
  margin-left: auto;
  min-width: 34px;
  margin-right: 1px;
  line-height: 12px;
}

.sort-buttons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.sort-button {
  position: relative;
  display: inline-block;
  width: 17px;
  height: 11px;
}

.up-button::before {
  content: "";

  position: absolute;
  top: 1px;

  width: 11px;
  height: 10px;
  background-image: url("../img/up-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.up-button:hover::before {
  background-image: url("../img/up-dir-hover.svg");
}

.up-button:active::before {
  background-image: url("../img/up-dir-active.svg");
}

.down-button::before {
  content: "";

  position: absolute;
  left: 6px;

  width: 11px;
  height: 10px;
  background-image: url("../img/down-dir-active.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.down-button:hover::before {
  background-image: url("../img/down-dir-hover.svg");
}

.down-button:active::before {
  background-image: url("../img/down-dir-active.svg");
}

.result-catalog {
  width: 100%;
  background-color: #fefefe;
}

.result-catalog .catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.result-catalog li {
  border-top: 1px solid #e5e5e5;
}

.result-catalog li:last-child {
   border-bottom: 1px solid #e5e5e5;
}

.hotel-container {
  width: 1056px;
  margin: auto;
}

.catalog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hotel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hotel .hotel-rating {
  margin-left: auto;
  padding: 29px 0 30px 0;
}

.hotel .hotel-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 363px;
  padding: 24px 0 31px 0;
}

.hotel-column h1 {
  width: 100%;
  margin: 0;
}

.hotel-column .type {
  min-width: 110px;
  height: 35px;
  margin-right: 6px;
}

.hotel-column .price {
  width: calc(100% - 116px);
  height: 35px;
}

.hotel-column .more-info {
  min-width: 110px;
  margin-right: 6px;
}

.more-info {
  display: inline-block;
}

.book {
  display: inline-block;
}

.hotel .hotel-photo {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  margin-right: 30px;
  padding: 30px 0;
}

.hotel-photo img {
  display: block;
}

.hotel-photo a {
  margin: 0;
  padding: 0;
}

.hotel-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 91px;
}

.hotel-rating .stars-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stars-count svg:first-of-type {
  margin-left: auto;
}

.stars-count svg:not(:last-of-type) {
  padding-right: 6px;
}

/*--------------------------footer------------------------------*/

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  position: relative;
  margin-top: -120px;
}

.main-footer div {
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  margin: auto;
}

.hotels-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fefefe;
}

.hotels-footer div {
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  margin: auto;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 36px auto;
  padding: 0;

  list-style: none;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 46px;
  height: 48px;

  background-color: #81b3d2;
}

.social-button:focus path {
  fill: rgba(136, 182, 209, 0.3);
}

.copy-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copy-link span {
  display: inline-block;
  margin-right: 8px;
}

.copy-link:hover path {
  fill: #81b3d2;
}

.copy-link:active path {
  fill: #bdbbbc;
}
